/* Roboto font face */
@font-face{
    font-family: Roboto-Regular;
    src: url("Roboto_v1.2/Roboto/Roboto-Regular.ttf");
}

/* Roboto Bold font face */
@font-face{
    font-family: Roboto-Bold;
    src: url("Roboto_v1.2/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

*{
    /*
    background-color:#F0EAD6;
    */
    /*
    background-color: #FFFDD0;*/
    background-color: #F5F5DC;
}

.profile_section p{
    font-family: Roboto-Regular;
    font-size: 1.2em; 
    color: #222222;
    text-align: justify;
}

#profile_pic{
    width: 350px;
    height: auto;
    
    position: relative;



    float: left;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.profile_section{
    width: 730px;
    height:100%;

    position: relative;

    top: 20px;
    left: 50%;

    margin-left: -230px;

}

.left_bar_option:hover > p{
    /*background-color: #7df9ff;*/
    background-color: #F5DEB3;
    color: #222222;
}


.left_bar_option:hover{
    /*background-color:#7DF9FF;*/
     background-color: #F5DEB3;

}

.left_bar_option{
    position: relative;

    width: 125px;
    height: 125px;

    border-radius: 100%;
    border-style: solid;
    border-color: #008080;
    border-width: thick;

    text-align: center;

    display: block;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}


.left_bar_option p{
    text-align: center;

    font-family: Roboto-Regular;
    font-size: 1.2em;

    width: 100px;
    height: auto;

    padding: 0px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.left_bar{

    position: absolute;

    width: 243px;
    height: 900px;


    visibility: visible;

    top: 140px;
    left: 50%;
    
    margin-left: -486px;
    margin-right: auto;


    border-style: solid;
    border-top-width: 0px;
    border-right-width: thick;
    border-bottom-width: 0px;
    border-left-width: 0px;
    /*border-color: #232b2b;*/
    border-color: #222222;
    border-radius: 5%;

    padding: 0px;

}

.header_bar{

    position: relative;

    width: 974px;
    height: 100px;


    margin-left: auto;
    margin-right: auto;


    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: thick;
    /*border-color: #232B2B;*/
    border-color: #222222;
    border-radius: 5%;

    padding: 10px;
}

#alejandro_header{

    font-family: Roboto-Bold;
    font-size: 3.5em;

    position:absolute;

    color:#008080;

}

#alejandro_info{
    
    font-family: Roboto-Regular;

    position: absolute;

    color:#008080; 

    right: 0px;

    

}










