/* Roboto font face */
@font-face{
    font-family: Roboto-Regular;
    src: url("Roboto_v1.2/Roboto/Roboto-Regular.ttf");
}

/* Roboto Bold font face */
@font-face{
    font-family: Roboto-Bold;
    src: url("Roboto_v1.2/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

html{
    background-color: #F4F0EC;
    font-family: Roboto-Regular;
}

div{
    border-color: #00cccc;
}

.header_bar{
    position: absolute;

    width: 100%;
    height: 200px;

    min-width: 974px;

    margin: 0px;
    top: 0px;
    padding: 0px;

    background-color: white;

    border-style: solid;
    border-bottom-width: thick;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;

    margin-left: auto;
    margin-right: auto;
     
    left: 0px;

    z-index: 1;
}

.middle_section{
    position: relative;
    background-color: black;

    width: 974px;
    height: 900px;

    top: 190px;
    margin-left: auto;
    margin-right: auto;

    padding: 0px;

    z-index: 0;
    
}

.navigation_bar td{
    padding: 10px;
    color: #222222;
    text-shadow: -1px 1px 1px #222222;
}

.navigation_table{
    margin-bottom: 5px;
}


.navigation_bar table tr{
    height: 55px;
    width: 100%;
    background-color: #00cccc;

    text-align: left;
    white-space: nowrap;


    font-family: Roboto-Bold;
    font-size: 20px;
    
    
}

/* the navigation bar will contain all the sections
 * the website will be divided into. user can click
 * on each option to be taken to that respective section
 */
.navigation_bar{
    width: 190px;
    background-color: red;
    position: absolute;
    top: 40px;
    margin: 0px;
}

/* content section will hold all the actual substance of
 * the website. for example, all the information for
 * the education section, skills section etc will appear 
 * inside a content section
 */
.content_section{
    display: inline-block;
    position: relative;
    width: 780px;
    height: 600px;
    background-color: yellow;

    left: 190px;

    border-style: solid;
    border-left-width: thick;
    border-right-width: 0px;
    border-bottom-width: thick;
    border-top-width: 0px;

    margin-bottom: 0px;
    margin-top: -5px;

}

