/* Roboto font face */
@font-face{
    font-family: Roboto-Regular;
    src: url("Roboto_v1.2/Roboto/Roboto-Regular.ttf");
}

/* Roboto Bold font face */
@font-face{
    font-family: Roboto-Bold;
    src: url("Roboto_v1.2/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face{
    font-family: Roboto-Thin;
    src: url("Roboto_v1.2/Roboto/Roboto-Thin.ttf");
}

@font-face{
    font-family: Roboto-Light;
    src: url("Roboto_v1.2/Roboto/Roboto-Light.ttf");
}

html{
    font-family: Roboto-Light;
}

.header_bar{
    position: fixed;
    opacity: 0.85;


    background-color: white;
    width: 100%;
    height: 65px;

    /*
     * set up the header bar's borders
     */
    border-style: solid;
    /* pastel color red */
    border-top-color: #FF6961;
    /* pastel color grey */
    border-bottom-color: #CFCFC4;
    border-top-width: thick;
    border-bottom-width: thin;
    border-left-width: 0px;
    border-right-width: 0px;

    /* prevent scroll bars from appearing
     */
    left: 0px;  
    top: 0px;
    margin: 0px;
    padding: 0px;

    z-index: 5;
}

.header_container{
    position: relative;
    
    width: 974px;
    height: 65px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;

    padding: 0px;
    top: 0px;
 
}

#header_table{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: -2px;
    height: 70px;


    left: 0px;
}

#header_table td{
    border-style: solid;
    border-color: #CFCFC4;
    border-right-width: thin;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;

    

}

#header_table:hover, #header_table_contact:hover{
    cursor: pointer;
}

#header_education:hover, #header_skills:hover, #header_experience:hover, #header_resume:hover, #header_contact:hover{
    color: #FF6961;
}

#header_logo:hover img{
    opacity: 1.0;
}

#header_logo{
    background-color: #FF6961;
    text-align: center;
    border-left-width: 0px;
    border-right-width: 0px;
}

.header_module{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    color: #222222;
}

#header_logo img{
    width: 50px;
    height: 50px;
    margin:0px;
    padding: 0px;
    opacity: 0.80;
}

#header_table_contact{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: -2px;
    height: 70px;


    
    right: 0px;
}

#header_table_contact td{
     border-style: solid;
    border-color: #CFCFC4;
    border-right-width: thin;
    border-left-width: thin;
    border-bottom-width: 0px;
    border-top-width: 0px;

    

}

#usc_photo_container{
    position: relative;

    width: 974px;
    height: 625px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    padding: 0px;
    overflow: hidden;

    top: 65px;
    
}

#usc_header{
    font-family: Roboto-Thin;
    font-size: 40px;
    letter-spacing: 5px;
    color:  #222222;

    margin-top: 50px;
    margin-bottom: 0px;
}

#usc_seal{
    position: relative;
    width: 400px;
    height: 400px;

    text-align: center;

    margin-top: 20px;
    margin-bottom: 0px;

}
    
#usc_intro{
    font-size: 16px;
    letter-spacing: 1px;
    color: #222222;
}

#usc_info_background{
    position: absolute;

    background-color: #ededed;

    width: 100%;
    height: 1150px;
    top: 700px;
    left: 0px;
    padding: 0px;
}

#usc_info_container{
    position: relative;

    width: 974px;
    height: 500px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0px;


    padding: 0px;
}

#usc_info_header{
    font-size: 25px;
    letter-spacing: 2px;
    color:#222222;

    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;

}

.info_module{
    width: 290px;
    overflow: hidden;

    background-color: white;

    position: relative;

    display: inline-block;
    
    margin: 7px;

    text-align: center;
}

.info_module img{
    width:200px;
    height: auto;
    
    margin-top: 50px;
    margin-bottom: 0px;
}

.info_module_header{
    margin-top: 50px;
    margin-bottom: 0px;

    font-size: 30px;
    letter-spacing: 1px;
    color: #990000;
}

.info_module_info{
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;

    color:#222222;
}

#viterbi_module{
    height: 325px; 
    top: -175px;
}

#courses_module{
    height: 500px;
}

#gpa_module{
    height: 350px;
    top: -150px;
}

#graduate_module{
    height: 350px;
    top: -200px;
}

#deans_module{
    height: 375px;
}




